:root {
    /* Colors */
	--negro: #000;
	--grafito: #222;
	--rojo: #B81515;
	--blanco: #fff;
	--gris-claro: #F5F5F5;
	--gris-oscuro: #8C8C8C;
	--neutral-c: #F5F5F5;
	--fonts-primary: fonts-style, normal; 
	--dimension-texto: 0.7rem;
	--dimension-titulo: 1.5rem;
	--dimension-texto-m: 1rem;

}

* {
    
    font-family: Montserrat;
    box-sizing: border-box;
}

body {
    margin: 0;
		padding: 0;
}

a {
    text-decoration: none;
}	

